# Server Configuration
PORT=5001

# Database Configuration
# Replace <USERNAME> and <PASSWORD> with the credentials created in MongoDB Atlas
MONGODB_URI=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.t5ihubg.mongodb.net/SmallStore?retryWrites=true&w=majority
